

.body{
    overflow-x:hidden;
    background-color: #E5E5E5;
}

.bkcwhite{
    background-color:#FFFFFF;
    width: 90%;
}


.rectangle17{
    position: absolute;
width: 632px;
height: 785px;
left: 718px;
top: 0px;

background: #190E50;
}

.rectangle25{
    position: absolute;
width: 50px;
height: 100px;
left: 718px;
top: 146px;

background: #17F4D1;
border-radius: 0px 50px 50px 0px;
}

.rectangle26{
    position: absolute;
width: 50px;
height: 100px;
left: 670px;
top: 100px;

background: #2082C3;
border-radius: 0px 50px 50px 0px;
transform: rotate(-180deg);
}

.rectangle20{
    position: absolute;
width: 270px;
height: 70px;
left: 773px;
top: 161px;

background: #F26CA7;
border-radius: 0px 103px 103px 103px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.rectangle19{
    position: absolute;
width: 224px;
height: 206px;
left: 718px;
top: 287px;


border-radius: 0px 132.176px 132.176px 132.176px;
}

.rectangle21{
    position: absolute;
width: 399px;
height: 420px;
left: 942px;
top: 192px;
/* border-radius: 0px 288.841px 288.841px 288.841px; */
transform: rotate(-360deg);
}

.rectangle22{
    position: absolute;
width: 326px;
height: 283.22px;
left: 720px;
top: 505.22px;

/* background: url(surprised-blonde-woman-points-right-copy-space-blue-wall-expresses-surprise.jpg); */
/* border-radius: 248.159px 0px 248.159px 248.159px; */
transform: rotate(-360deg);
}

.rectangle23{
    
position: absolute;
width: 221px;
height: 192px;
left: 1130px;
top: 595px;

/* background: url(close-up-young-successful-man-smiling-camera-standing-casual-outfit-against-blue-background.jpg); */
/* border-radius: 0px 116px 116px 116px; */
transform: rotate(-360deg);
}

.rectangle24{
    
position: absolute;
width: 200px;
height: 100px;
left: 930px;
top: 686px;

background: #F26CA7;
border-radius: 136.275px 136.275px 0px 0px;
}

.rightp{
position: absolute;
width: 590px;
height: 233px;
left: 95.53px;
top: 170px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50.0769px;
line-height: 68px;
/* or 112% */

letter-spacing: 5.49917px;

/* Other Variants/Charcoal Black */

color: #1C1C1C;
}

.span {
    color : #F36523
}

.vector {
    position: absolute;
width: 32.86px;
height: 80px;
left: 556px;
top: 370px;

/* Other Variants/Orange */

/* background: #F36523; */
}


.contentp{
position: absolute;
width: 633px;
height: 30px;
left: 90px;
top: 440px;
    
    /* Paragraph/18px */
    
    font-family: 'Open Sans';
font-style:normal;
font-weight:bold;
font-size: 12px;
line-height: 10px;
/* identical to box height, or 167% */


/* Other Variants/Charcoal Black */

color: #1C1C1C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.workbutton{
    /* Buttons */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

position: absolute;
width: 695px;
height: 77px;
left: 86px;
top: 490px;
}

.btn_work{
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 24px;
gap: 10px;
width: 190px;
height: 47px;

/* Other Variants/Orange */

background: #F36523;
border-radius: 65px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;


color: #FFFFFF;

border: #FFFFFF;

}

.vector1{
    /* position: absolute; */
left: 4%;
right: 4.47%;
top: 8.5%;
bottom: 8.5%;

/* background: #FFFFFF; */
}

.btn_talent{
    /* Buttons */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 24px;
gap: 10px;

width: 150px;
height: 40px;

background: #FFFFFF;
/* Other Variants/Orange */

border: 2px solid #F36523;
border-radius: 74px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}

.vector2{
    left: 0%;
right: 0.37%;
top: 8%;
bottom: 8.5%;

/* Secondary/Dark */

/* background: #0A0F26; */
}

.vector3 {

    width: 40.98px;
    height: 10.04px;
    
    
    color: #1C1C1C;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.startfromhere{
    
width: 90px;
height: 14px;

font-family: 'Gochi Hand';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.5px;

/* Other Variants/Charcoal Black */

color: #1C1C1C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}


.play_btn {
    /* Play */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 323px;
height: 38px;
left: 79px;
top: 579px;

}

.btnplay{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 323px;
height: 38px;

}

.playbtn{
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    background: white;
    border-radius: 10px;
}


.seehow{
     
    width: 275px;
    height: 26px;

    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
   
    letter-spacing: 0.5px;
    
    color: #64748B; 
}

.trustedby{
    /* Trusted by */


position: absolute;
width: 138px;
height: 38px;
left: 89px;
top:600px;

/* H3 Heading/28px Semibold */

font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 38px;
/* identical to box height, or 136% */

letter-spacing: 0.5px;

/* Other Variants/Charcoal Black */

color: #1C1C1C;
}


.brands{
    position: absolute;
width: 768.51px;
height: 56.49px;
left: 89px;
top: 600px;

}


.slacknew{
    position: absolute;
width: 40.49px;
height: 40.49px;
left: 79px;
top: 710px;
}

.slack{
    /* Slack */


position: absolute;
width: 40px;
height: 34px;
left: 120px;
top: 710px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28.2432px;
line-height: 34px;
text-align: center;

color: #D9D9D9;
}


.woo{
    position: absolute;
width: 56.49px;
height: 46.49px;
left: 203px;
top: 710px;

}

.commerce{
    position: absolute;
width: 120px;
height: 34px;
left: 260px;
top: 713px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28.2432px;
line-height: 34px;

color: #D9D9D9;
}


.apple{
    position: absolute;
width: 46.49px;
height: 46.49px;
left: 400px;
top: 705px;
}

.appletext{
    position: absolute;
    width: 55px;
    height: 34px;
    left: 444px;
top: 710px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28.2432px;
    line-height: 34px;
    
    color: #D9D9D9;
}

.microsoft{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 530px;
    top: 710px;
}

.microsofttext{
    position: absolute;
width: 82px;
height: 30px;
left: 570px;
top: 712px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28.2432px;
line-height: 34px;

color: #D9D9D9;
}



.ellipse10{
    position: absolute;
width: 180px;
height: 180px;
left: 1130px;
top: 680px;

background: #17F4D1;

border-radius:150px;

}


.rectangle27{
position: absolute;
width: 182px;
height: 122px;
left: 89px;
top: 810px;

background: #F26CA7;
border-radius: 5px;
}

.rectangle28{
    position: absolute;
    width: 182px;
    height: 122px;
    left: 328px;
    top: 810px;
    
    background: #F36523;
    border-radius: 5px;
}

.rectangle29{
    position: absolute;
width: 182px;
height: 122px;
left: 560px;
top: 810px;

background: #2082C3;
border-radius: 5px;
}



.HireBest{
    position: absolute;
    width: 421px;
    height: 38px;
    left: 830px;
    top: 780px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 35px;
    /* identical to box height, or 112% */
    
    letter-spacing: 0.5px;
    
    /* Other Variants/Charcoal Black */
    
    color: #1C1C1C;
    
}

.contentjob{
    width: 506px;
height: 28px;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 38px;

/* identical to box height, or 112% */

letter-spacing: 0.5px;

/* Primary/Primary Color 01/Primary Color 01 - Base */

color: #3377FF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.onesevenm {
    position: absolute;
width: 77px;
height: 43px;
left: 22px;
top: 10px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 20.4286px;
line-height: 43px;
/* identical to box height, or 136% */

letter-spacing: 0.714286px;

color: #FFFFFF;
}


.servicep{
    position: absolute;
width: 190px;
height: 38px;
left: 20px;
top: 43px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 15.8571px;
line-height: 37px;
/* identical to box height, or 162% */

letter-spacing: 0.714286px;

color: #FFFFFF;
}



.nineeight{
    position: absolute;
    width: 77px;
    height: 43px;
    left: 22px;
    top: 10px;
    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 20.4286px;
    line-height: 43px;
    /* identical to box height, or 136% */
    
    letter-spacing: 0.714286px;
    
    color: #FFFFFF;
}


.usersat{
    position: absolute;
    width: 190px;
    height: 38px;
    left: 20px;
    top: 43px;
    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 15.8571px;
    line-height: 37px;
    /* identical to box height, or 162% */
    
    letter-spacing: 0.714286px;
    
    color: #FFFFFF;
}


.onefive{
    position: absolute;
    width: 77px;
    height: 43px;
    left: 22px;
    top: 10px;
    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 20.4286px;
    line-height: 43px;
    /* identical to box height, or 136% */
    
    letter-spacing: 0.714286px;
    
    color: #FFFFFF;
}


.reccuser{
    position: absolute;
    width: 190px;
    height: 38px;
    left: 20px;
    top: 43px;
    
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 15.8571px;
    line-height: 37px;
    /* identical to box height, or 162% */
    
    letter-spacing: 0.714286px;
    
    color: #FFFFFF;
}



.frametwoninefour{
    display: flex;
flex-direction: column;
align-items: center;
align-content: space-between;
padding: 0px;
gap: 40px;

position: absolute;
width: 1100px;
height: 479px;
left: 129px;
top: 1074px;

background-color: #E5E5E5;
}



.workdone{
 width: 964px;
height: 160px;
top: 100px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 50px;
/* or 125% */

text-align: center;
letter-spacing: 0.5px;
text-transform: capitalize;

color: #000000;

background-color:#E5E5E5 ;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.creativepeople{

    color: #F36523;
    
}

.rectangle30{
    position: absolute;
width: 203px;
height: 191px;
left: 42px;
top: 268px;

background: #FFFFFF;
border-radius: 31px;
}

.rectangle35{
    position: absolute;
    width: 203px;
    height: 191px;
    left: 293px;
    top: 268px;
    
    background: #FFFFFF;
    border-radius: 31px;


}


.rectangle36{
 
position: absolute;
width: 203px;
height: 191px;
left: 556px;
top: 268px;

background: #F36523;
border-radius: 31px;

}

.rectangle37{
    position: absolute;
    width: 203px;
height: 191px;
    left: 839px;
    top: 268px;
    
    background: #FFFFFF;
    border-radius: 31px;

}


.group108{
    position: absolute;
width: 50.96px;
height: 60.55px;
left: 69px;
top: -37px;
}


.postjob{
    position: absolute;
width: 148px;
height: 42px;
left: 28px;
top: 60px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22.2432px;
line-height: 42px;

/* Other Variants/Orange */

color: #F36523;

}

.createacc{
position: relative;
left: 0px;
top: 109px;

/* H5 Heading/18px Normal */

font-family: 'Urbanist';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 12px;
/* or 144% */

text-align: center;
letter-spacing: 0.5px;

/* Secondary/Dark */

color: #0A0F26;
}

.group109{
    position: absolute;
width: 50.96px;
height: 60.55px;
left: 78px;
top: -37px;
}

.group111{
    position: absolute;
width: 50.96px;
height: 60.55px;
left: 80px;
top: -37px;
}

.group110{
position: absolute;
width: 57px;
height: 66px;
left: 78px;
top: -37px;

}


.paysafety{
    position: absolute;
    width: 148px;
    height: 42px;
    left: 28px;
    top: 60px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22.2432px;
    line-height: 42px;
    
    /* Other Variants/Orange */
    
    color: #FFFFFF;
}


.createaccc{
    position: relative;
left: 0px;
top: 109px;

/* H5 Heading/18px Normal */

font-family: 'Urbanist';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 12px;
/* or 144% */

text-align: center;
letter-spacing: 0.5px;

/* Secondary/Dark */

color: #FFFFFF;
}


.seconddiv{
    width: 100%;
    background-color: #17F4D1;
}